$alert-color: red
$module-padding: 20px
$input-height: 40px
$btn-height: 36px
$anim-dur: 0.3s

.todo-module
    max-width: 500px
    margin: 0 auto
    padding: ($module-padding*2) $module-padding $module-padding
    height: 100vh
    position: relative
    display: flex
    flex-direction: column

h1
    text-align: center
    margin: 0 0 2rem

.todo-input
    display: flex
    align-items: center
    width: 100%
    height: $input-height
    padding: 0 10px
    font-size: 1.2rem
    border-radius: 0
    box-shadow: none
    border: 1px solid
    &:focus
        outline: none

.todo-info
    font-size: 0.7rem
    text-transform: uppercase
    margin-top: 5px
    color: #999

.todo-list
    list-style-type: none
    padding: 0
    position: absolute
    top: (($module-padding*4) + $input-height)
    left: 0
    right: 0
    bottom: (($module-padding*2) + $btn-height)
    padding: 0 $module-padding $module-padding
    overflow: scroll



@keyframes fadein
    0%
        opacity: 0
    100%
        opacity: 1
@keyframes fadeout
    0%
        opacity: 1
    100%
        opacity: 0

.todo
    display: flex
    align-items: center
    margin-bottom: 0.5rem
    font-size: 1rem
    animation: fadein $anim-dur linear forwards
    &:last-child
        margin-bottom: 0

    &.fading
        animation: fadeout $anim-dur linear forwards

    .label
        transition: all 0.3s
        &.done
            text-decoration: line-through
            opacity: 0.65

    .check
        display: flex
        align-items: center
        justify-content: center
        flex: 0 0 auto
        width: 1.5em
        height: 1.5em
        border-radius: 50%
        background: #ccc
        margin-right: 10px
        cursor: pointer

    .delete
        transition: color 0.3s
        cursor: pointer
        margin-left: auto
        font-size: 1.5em
        &:hover
            color: $alert-color

.todo-actions
    margin-top: auto
    display: flex
    align-items: center
    justify-content: space-between

    button
        display: flex
        align-items: center
        justify-content: center
        transition: background 0.3s
        -webkit-appearance: none
        padding: 8px 10px
        text-transform: uppercase
        cursor: pointer
        border-radius: 4px
        border: none
        background: #333
        color: white
        font-size: 0.8rem
        height: $btn-height
        &:hover
            background: $alert-color

        .material-symbols
            margin-right: 5px
            font-size: 1.2em

    @media (max-width: 430px)
        column-gap: 1px
        button
            width: 50%
            &:first-child
                border-top-right-radius: 0
                border-bottom-right-radius: 0
            &:last-child
                border-top-left-radius: 0
                border-bottom-left-radius: 0
