$filters-nav: 200px
$filters-nav-trans: 0.5s ease

.filters-nav-actions
    transition: margin-right $filters-nav-trans
    margin-right: 0
    margin-left: auto
    display: flex
    align-items: center
    
    .selected-filter
        font-size: 1.2rem
        text-transform: uppercase
        margin-right: ($gutter/2)
        .quantity
            font-size: 0.75em
            color: var(--color-gray)
            margin-left: 4px

.filters-nav-btn
    color: var(--accent-color)
    font-size: 2.5rem
    line-height: 1
    cursor: pointer
    .material-symbols
        display: block


+breakpoint(xs-max)
    .app-header,
    .todos-list
        margin-left: 0
        margin-right: 0
        transition: margin-left $filters-nav-trans, margin-right $filters-nav-trans
.app-container.nav-visible
    +breakpoint(xs-max)
        .app-header, .todos-list
            margin-left: -($filters-nav)
            margin-right: ($filters-nav)
    +breakpoint(sm)
        .filters-nav-actions
            margin-right: ($filters-nav)


.filters-nav
    transition: right $filters-nav-trans, box-shadow $filters-nav-trans
    position: fixed
    top: 0
    bottom: 0
    right: -($filters-nav)
    width: $filters-nav
    z-index: var(--z-index-filters)
    background: var(--color-black)
    color: white
    &.visible
        right: 0
        box-shadow: -3px 0px 9px 0px rgba(0,0,0,0.36)

.filters-menu .filter
    padding: $gutter
    border-bottom: 1px solid rgba(255,255,255,0.25)

.filter
    transition: color 0.3s
    display: flex
    align-items: center
    cursor: pointer
    text-transform: uppercase
    font-size: 0.9rem

    .material-symbols
        font-size: 1.8em
        margin-right: 10px

    .label
        position: relative
        display: inline-block
        &::before
            transition: width 0.3s
            content: ''
            display: block
            position: absolute
            bottom: -2px
            left: 0
            width: 0
            height: 2px
            background: var(--accent-color)

    .quantity
        font-size: 0.8em
        color: var(--color-gray)
        margin-left: auto

    &:hover
        color: var(--accent-color)
    
    &.active
        color: var(--accent-color)
        .label::before
            width: 100%