$app-header-height: 100px

body
    margin-top: $app-header-height
    
.app-header
    display: flex
    align-items: center
    background: white
    padding: 0 $gutter
    position: fixed
    top: 0
    left: 0
    right: 0
    z-index: var(--z-index-header)
    height: $app-header-height
    $btn-add-height: 50px

    .btn-add
        box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.36)
        position: fixed
        right: $gutter
        bottom: $gutter
        background: var(--accent-color)
        margin-left: auto
        height: $btn-add-height
        padding: 0
        border-radius: ($btn-add-height/2)
        font-size: 0.9rem
        z-index: var(--z-index-add-btn)
        .material-symbols
            transition: transform 0.5s ease
            display: block
            width: $btn-add-height
            font-size: 2.1em
            margin: 0
        .label
            transition: width 0.5s ease
            display: block
            text-align: left
            overflow: hidden
            width: 0
            white-space: nowrap

        &:hover
            opacity: 1
            .material-symbols
                transform: rotate(90deg)
            .label
                width: 96px

        
.datetime-time
    font-size: 1.8rem
.datetime-date
    color: var(--color-gray)
