// TODOS FORM

.form-header
    margin-bottom: 2rem
    display: flex
    align-items: center
    position: relative

    h2
        margin-bottom: 0
        font-size: 1.4rem

    .close-btn
        margin-left: auto
        font-size: 2.2rem
        cursor: pointer
        color: var(--accent-color)
        .material-symbols
            display: block

    .error-msg
        color: var(--alert-color)
        margin-bottom: 1rem
        font-size: 0.9rem
        font-weight: bold
        position: absolute
        top: 100%
        left: 0
        right: 0


@keyframes fadeinForm
    0%
        opacity: 0
    100%
        opacity: 1
@keyframes fadeoutForm
    0%
        opacity: 1
    100%
        opacity: 0

.todo-form
    position: fixed
    top: 0
    left: 0
    right: 0
    bottom: 0
    display: flex
    align-items: center
    justify-content: center
    background: rgba(0,0,0,0.7)
    z-index: var(--z-index-form)
    animation: fadeinForm 0.35s linear forwards

    form
        background: white
        width: calc(100% - #{$gutter*2})
        max-width: 400px
        padding: $gutter
        box-shadow: 0px 0px 9px 0px rgba(0,0,0,0.36)
        border-radius: 10px

    .field
        margin-bottom: 1.5rem
    label
        display: block
        font-size: 0.8rem
        color: var(--color-gray)
        margin-bottom: 5px
    input
        border: none
        border-bottom: 1px solid var(--color-gray-light)
        width: 100%
        padding: 0 0 5px
        +input-placeholder
            color: var(--color-gray)

    .submit
        margin-top: 2.5rem
        display: flex
        align-items: center
        justify-content: flex-end
        column-gap: 5px
        .btn
            flex: 1 1 auto

    .field-name input
        font-size: 1.2em

.priorities-field
    ul
        display: flex
        align-items: center
        column-gap: 10px
        padding: 0
        margin: 0
        list-style-type: none
        label, input
            width: auto
            margin: 0

.priority-field
    cursor: pointer
    position: relative
    input
        position: absolute
        top: 0
        left: 0
        width: 0px
        height: 0px 
        visibility: hidden
        opacity: 0
    .input
        transition: background 0.3s
        display: block
        width: 40px
        height: 40px
        border: 1px solid var(--color-gray-light)
        border-radius: 50%
        position: relative
        &::before
            content: ''
            display: block
            position: absolute
            top: 5px
            bottom: 5px
            left: 5px
            right: 5px
            border-radius: 50%
            background: var(--color-gray)
    input:checked ~ .input
        background: var(--color-black)

    .label
        transition: opacity 0.3s
        position: absolute
        top: 100%
        left: 50%
        transform: translateX(-50%)
        background: var(--color-black)
        color: white
        padding: 4px 8px
        border-radius: 4px
        opacity: 0
        margin-top: 6px
        font-size: 0.7rem
        &::before
            +triangle(top, var(--color-black), 8px, 6px)
            position: absolute
            bottom: 100%
            left: 50%
            transform: translateX(-50%)
    &:hover .label
        opacity: 0.85

@each $className,$color in $priority-colors
    .priority-field.#{$className}
        .input::before
            background: $color


// TODOS LIST 

.todos-list
    padding: $gutter $gutter 100px
    list-style-type: none
    max-width: 800px
    +breakpoint(sm)
        margin: 0 auto

@keyframes fadeinTodo
    0%
        opacity: 0
        max-height: 0
    100%
        opacity: 1
        max-height: 200px
@keyframes fadeoutTodo
    0%
        max-height: 200px
        opacity: 1
    100%
        opacity: 0
        max-height: 0

.todo-item
    display: flex
    background: white
    margin-bottom: 1rem
    border-radius: 6px
    overflow: hidden
    animation: fadeinTodo 0.35s linear forwards
    &:last-child
        margin-bottom: 0
    &.fading
        animation: fadeoutTodo 0.5s linear forwards

    .todo-wrapper
        cursor: pointer
        flex: 1 1 auto
        position: relative
        padding: 10px 20px 10px
        display: flex
        align-items: center

    .actions
        flex: 0 0 auto
        display: flex
        align-items: center
        column-gap: ($gutter/2)
        padding: 0 15px
        background: var(--color-gray-light)
        .btn
            padding: 0
            background: transparent
            color: var(--color-gray)
            height: auto
            border-radius: 0
            
            .material-symbols
                display: block
                margin: 0
                font-size: 1.4rem
            &:hover
                opacity: 1
            &.btn-delete:hover
                color: var(--alert-color)
            &.btn-edit:hover
                color: var(--accent-color)

    .name
        font-size: 1.2rem
        position: relative
        // width: max-content
        // max-width: 100%
        // &::before
        //     transition: width 0.3s
        //     content: ''
        //     height: 1px
        //     background: var(--text-color)
        //     position: absolute
        //     top: 50%
        //     left: 0
        //     width: 0

    .date
        font-size: 0.9rem
        color: var(--color-gray)
   
    .completed-check
        margin-right: 12px
        display: block
        width: 34px
        height: 34px
        border-radius: 50%
        border: 1px solid var(--color-gray-light)
        display: flex
        align-items: center
        justify-content: center
        transition: all 0.3s
        .material-symbols
            transition: opacity 0.3s
            display: block
            font-size: 1.8rem
            margin-top: 1px
            opacity: 0
            color: white
    &.completed 
        .completed-check 
            border-color: var(--color-gray)
            background: var(--color-gray)
            .material-symbols
                opacity: 1
        // .name::before
        //     width: 100%
        .name
            text-decoration: line-through

    .priority
        content: ''
        position: absolute
        top: 0
        bottom: 0
        left: 0
        width: 8px
        background: var(--color-gray)
    @each $className,$color in $priority-colors
        &.#{$className}
            .priority
                background: $color
            &.completed .completed-check 
                border-color: $color
                background: $color

