:root {
    --font-family-default: 'Open Sans', sans-serif;

    --color-black: #262829;
    --color-gray: #919CA7;
    --color-gray-light: #cdd0d4;

    --accent-color: #13ABB0;
    --alert-color: #EF4838;
    --body-bg: #F1F3F4;
    --text-color: var(--color-black);

    --color-urgent: var(--alert-color);
    --color-high: #EFA82C;
    --color-low: #5ABB6A;
    --color-normal: var(--accent-color);

    --z-index-header: 100;
    --z-index-add-btn: 500;
    --z-index-form: 1000;
    --z-index-filters: 200;
}

$priority-colors: (
    'urgent': var(--color-urgent),
    'high': var(--color-high),
    'low': var(--color-low),
    'normal': var(--color-normal),
);
    

$gutter: 20px;